body{
    background: linear-gradient(284.84deg, #FFFFFF 39.65%, rgba(255, 255, 255, 0) 87.46%), #ECD7D7;
}

.header1{
    position: absolute;
    width: 142px;
    height: 50px;
    left: 57px;
    top: 40px;
}
.header1 img{
    width: 90px;
    height: 30px;
}
.header1 h1{
    position: absolute;
    width: 186px;
    height: 63px;
    left: 550px;
    top: -35px;
    font-family: Radley;
    font-style: normal;
    font-weight: normal;
    font-size: 4s0px;
    line-height: 63px;
    color: #000000;
}
.header1 form {
    position: absolute;
    width:0px;
    margin:50px auto;
    left: 1005px;
    top: -65px;
    font-family: Radley;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 63px;
    color: #000000;   
}
.header1 form .search {
    padding:8px 15px;
    background:#ECD7D7;
    border:0px solid #ECD7D7;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px 0px 0px 20px;
    outline: none;
}
.header1 form button {
    position:relative;
    padding:6px 15px;
    top: -63px;
    left:180px;
    border:2px solid rgb(183, 165, 165);
    background-color:rgb(183, 165, 165);
    color:rgb(242, 240, 240);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
    border-radius: 0px 20px 20px 0px;
}
.header1 button:hover  {
    border:2px solid #ECD7D7;
    background-color:#ECD7D7;
    color:black;
}
.jadwal1 {
    position: absolute;
    width: 105.5px;
    height: 75px;
    left: 5px;
    top: -60px;
}
.jadwal1 .cuaca{
    position: absolute;
    width: 20px;
    height: 24px;
    left: 62px;
    top: 247px;
}
.jadwal1 .musim{
    position: absolute;
    width: 30.35px;
    height: 15px;
    left: 55px;
    top: 270px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 7px;
    line-height: 17px;
    color: #000000;
}
.jadwal1 .garis{
    position: absolute;
    width: 58px;
    height: 0px;
    left: 65px;
    top: 268px;
    border: 1px solid #000000;
    transform: rotate(-90deg);
}
.jadwal1 .hari{
    position: absolute;
    width: 9.82px;
    height: 71px;
    left: 105px;
    top: 235px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 25px;
    color: #000000;
}
.jadwal1 .angka{
    position: absolute;
    width: 31px;
    height: 75px;
    left: 110px;
    top: 220px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 85px;
    color: #000000;
}
.jadwal1 .derajat{
    position: absolute;
    width: 6px;
    height: 6px;
    left: 125px;
    top: 270px;
    box-sizing: border-box;
}
form {
    position: absolute;
    width: 80px;
    height: 50px;
    left: 5px;
    top: -40px;
}
.jadwal2 {
    position: absolute;
    width: 105.5px;
    height: 75px;
    left: 8px;
    top: -20px;
}
.jadwal2 .cuaca{
    position: absolute;
    width: 20px;
    height: 24px;
    left: 62px;
    top: 247px;
}
.jadwal2 .musim{
    position: absolute;
    width: 30.35px;
    height: 15px;
    left: 55px;
    top: 270px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 7px;
    line-height: 17px;
    color: #000000;
}
.jadwal2 .garis{
    position: absolute;
    width: 58px;
    height: 0px;
    left: 65px;
    top: 268px;
    border: 1px solid #000000;
    transform: rotate(-90deg);
}
.jadwal2 .hari{
    position: absolute;
    width: 9.82px;
    height: 71px;
    left: 105px;
    top: 235px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 25px;
    color: #000000;
}
.jadwal2 .angka{
    position: absolute;
    width: 31px;
    height: 75px;
    left: 110px;
    top: 220px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 85px;
    color: #000000;
}
.jadwal2 .derajat{
    position: absolute;
    width: 6px;
    height: 6px;
    left: 125px;
    top: 270px;
    box-sizing: border-box;
}
.jadwal3 {
    position: absolute;
    width: 105.5px;
    height: 75px;
    left: 8px;
    top: 60px;
}
.jadwal3 .cuaca{
    position: absolute;
    width: 20px;
    height: 24px;
    left: 62px;
    top: 247px;
}
.jadwal3 .musim{
    position: absolute;
    width: 30.35px;
    height: 15px;
    left: 55px;
    top: 270px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 7px;
    line-height: 17px;
    color: #000000;
}
.jadwal3 .garis{
    position: absolute;
    width: 58px;
    height: 0px;
    left: 65px;
    top: 268px;
    border: 1px solid #000000;
    transform: rotate(-90deg);
}
.jadwal3 .hari{
    position: absolute;
    width: 9.82px;
    height: 71px;
    left: 105px;
    top: 235px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 25px;
    color: #000000;
}
.jadwal3 .angka{
    position: absolute;
    width: 31px;
    height: 75px;
    left: 110px;
    top: 220px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 85px;
    color: #000000;
}
.jadwal3 .derajat{
    position: absolute;
    width: 6px;
    height: 6px;
    left: 125px;
    top: 270px;
    box-sizing: border-box;
}
.jadwal4 {
    position: absolute;
    width: 105.5px;
    height: 75px;
    left: 8px;
    top: 140px;
}
.jadwal4 .cuaca{
    position: absolute;
    width: 20px;
    height: 24px;
    left: 62px;
    top: 247px;
}
.jadwal4 .musim{
    position: absolute;
    width: 30.35px;
    height: 15px;
    left: 55px;
    top: 270px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 7px;
    line-height: 17px;
    color: #000000;
}
.jadwal4 .garis{
    position: absolute;
    width: 58px;
    height: 0px;
    left: 65px;
    top: 268px;
    border: 1px solid #000000;
    transform: rotate(-90deg);
}
.jadwal4 .hari{
    position: absolute;
    width: 9.82px;
    height: 71px;
    left: 105px;
    top: 235px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 25px;
    color: #000000;
}
.jadwal4 .angka{
    position: absolute;
    width: 31px;
    height: 75px;
    left: 110px;
    top: 220px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 85px;
    color: #000000;
}
.jadwal4 .derajat{
    position: absolute;
    width: 6px;
    height: 6px;
    left: 125px;
    top: 270px;
    box-sizing: border-box;
}
.jadwal5 {
    position: absolute;
    width: 105.5px;
    height: 75px;
    left: 8px;
    top: 220px;
}
.jadwal5 .cuaca{
    position: absolute;
    width: 20px;
    height: 24px;
    left: 62px;
    top: 247px;
}
.jadwal5 .musim{
    position: absolute;
    width: 30.35px;
    height: 15px;
    left: 55px;
    top: 270px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 7px;
    line-height: 17px;
    color: #000000;
}
.jadwal5 .garis{
    position: absolute;
    width: 58px;
    height: 0px;
    left: 65px;
    top: 268px;
    border: 1px solid #000000;
    transform: rotate(-90deg);
}
.jadwal5 .hari{
    position: absolute;
    width: 9.82px;
    height: 71px;
    left: 105px;
    top: 235px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 25px;
    color: #000000;
}
.jadwal5 .angka{
    position: absolute;
    width: 31px;
    height: 75px;
    left: 110px;
    top: 220px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 85px;
    color: #000000;
}
.jadwal5 .derajat{
    position: absolute;
    width: 6px;
    height: 6px;
    left: 125px;
    top: 270px;
    box-sizing: border-box;
}
.jadwal6 {
    position: absolute;
    width: 105.5px;
    height: 75px;
    left: 8px;
    top: 300px;
}
.jadwal6 .cuaca{
    position: absolute;
    width: 20px;
    height: 24px;
    left: 62px;
    top: 247px;
}
.jadwal6 .musim{
    position: absolute;
    width: 30.35px;
    height: 15px;
    left: 55px;
    top: 270px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 7px;
    line-height: 17px;
    color: #000000;
}
.jadwal6 .garis{
    position: absolute;
    width: 58px;
    height: 0px;
    left: 65px;
    top: 268px;
    border: 1px solid #000000;
    transform: rotate(-90deg);
}
.jadwal6 .hari{
    position: absolute;
    width: 9.82px;
    height: 71px;
    left: 105px;
    top: 235px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 25px;
    color: #000000;
}
.jadwal6 .angka{
    position: absolute;
    width: 31px;
    height: 75px;
    left: 110px;
    top: 220px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 85px;
    color: #000000;
}
.jadwal6 .derajat{
    position: absolute;
    width: 6px;
    height: 6px;
    left: 125px;
    top: 270px;
    box-sizing: border-box;
}
.utama{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 468px;
    top: 340px;
}
.utama .cuaca{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 170px;
    top: -58px;
}
.utama .musim{
    position: absolute;
    width: 78px;
    height: 37px;
    left: 157px;
    top: -18px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 42px;
}
.utama .garis{
    position: absolute;
    width: 100px;
    height: 0px;
    left: 205px;
    top: -20px;
    border: 2px solid #000000;
    transform: rotate(-90deg);
}
.utama .angka{
    position: absolute;
    width: 31px;
    height: 75px;
    left: 278px;
    top: -115px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 85px;
    color: #000000;
}
.utama .derajat{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 330px;
    top: -60px;
}
.utama .hari{
    position: absolute;
    width: 430px;
    height: 68px;
    left: -10px;
    top: 30px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 68px;
}
.utama .lokasi{
    position: absolute;
    width: 300px;
    height: 37px;
    left: 196px;
    top: 90px;
    font-family: Pragati Narrow;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 42px;  
}
.utama .gambar{
    position: absolute;
    width: 390px;
    height: 393px;
    left: 400px;
    top: -160px;
}

